@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 55% 6%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 222 55% 6%;
    --secondary: 222 40% 13%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 40% 13%;
    --muted-foreground: 220 15% 60%;
    --accent: 222 40% 16%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 40% 18%;
    --input: 222 40% 18%;
    --ring: 0 0% 98%;
  }

  body {
    @apply bg-background text-foreground font-display antialiased;
  }

  ::selection {
    @apply bg-white text-black;
  }
}
